html {
    	background: #FFF;
	font-size:100%;
	background:none;
    	font-family:  Arial, Helvetica, sans-serif;
}

body {
    	text-align: justify; 
	line-height:21px;
	margin:0px;
	font-size:13px;
	background-color:#F5F3ED;
}

h1 {
	font-size:40px;
	padding:30px 5px 0 20px;
}

#wrapper {
	width:900px;
	margin:0 auto;
	padding:5px 5px 10px 0;
}

#header .top_banner{
	background:url(header.jpg) no-repeat top right;
	height:200px;
 	background-size: cover;
	padding:65px 95px 0 65px;
}

p{
    margin: 0 0 20px 0 ;
	line-height:20px;	
}

h2{
    margin: 5px 20 5px;
    padding: 0;
    border-bottom: 1px solid #050555;
}
   
h3{
    margin: 5px 20 5px;
    padding: 0;
    border-bottom: 1px solid #050555;
}

a:link {
  color: #483D8B;
}

dd {
    padding: 0 0 0.5em 0;
  }



